{% comment %}

since my html is not working for the django html so i edit some vscode setting to get this setting
and this will finally working and this is just amazing feeling to so so 
this is just amazing things and just brilliant to do the best for the my productivity purpose 
all my vscode extension were working perfectly fine for me
 {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>